{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col-6">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>KARE GANESH VARMA</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Ganesh varma currently pursuing  my B_tech 3rd year at Kalasalingam Academy of Research and Education i'm here to help you in this project.
                    .</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <h1 style="font-size:15px">E-mail:kareganeshvarma@gmail.com</h1>
                <h1  style="font-size:15px"> linkedin:https://www.linkedin.com/in/ganesh-varma-kare-0306b1233 </h1>
                <h1 style="font-size:15px"> Mobile number:9963710320 </h1>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>KOLIPAKULA VARADANA  VARSHINI</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Varshini pursuing my B-tech 3rd year at Kalasalingam Academy of Research and Education i'm here to assist you to understand and help in this project.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <h1 style="font-size:15px">E-mail:99210041059@klu.ac.in</h1>
                <h1  style="font-size:15px"> linkedin:https://www.linkedin.com/in/varshini-kolipakula-19a091225 </h1>
                <h1 style="font-size:15px"> Mobile number:7095082082 </h1>
                
            </div>
        </div>
    </div>
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>KAMMANAMALA HARSHITHA</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Harshitha pursuing my B-tech 3rd year at Kalasalingam Academy of Research and Education i'm here to assist you to understand and help in this project.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <h1 style="font-size:15px">E-mail:99210041200@klu.ac.in</h1>
                <h1  style="font-size:15px"> linkedin:https://www.linkedin.com/in/harshitha-kummanamala-326ba827b </h1>
                <h1 style="font-size:15px"> Mobile number:7207804356 </h1>
                
            </div>
        </div>
    </div>
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>KATHULA HAREESH</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Hareesh pursuing my B-tech 3rd year at Kalasalingam Academy of Research and Education i'm here to assist you to understand and help in this project.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <h1 style="font-size:15px">E-mail:9921004332@klu.ac.in</h1>
                <h1  style="font-size:15px"> linkedin:https://www.linkedin.com/in/hareesh-kathula-19a4a5217 </h1>
                <h1 style="font-size:15px"> Mobile number:9347692709 </h1>
                
            </div>
        </div>
    </div>

</div>

{% endblock body %}